<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    <link rel="stylesheet" href="/static/css/style.css">
	    <link rel="stylesheet" href="/static/css/admin/admin.css">
	    <title>Document</title>
	</head>
	<body>
		<div class="admin__container">
			<h1>Admin Page</h1>
			<div class="admin__button">
				<button onclick="location.href='/'">홈으로</button>
				<button onclick="location.href='/admin/reviews'">작업후기</button>
				<button onclick="location.href='/admin/items'">상품목록</button>
				<button onclick="location.href='/admin/estimates/lists'">견적목록</button>
			</div>
		</div>
	</body>
</html>