<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    
	    <title>Document</title>
	</head>
	<body>
		<h1>Admin Page</h1>
		<div>
			<button onclick="location.href='/review/save'">작업후기</button>
			<button onclick="location.href='/items/save'">상품추가</button>
			<button onclick="location.href='/estimates/lists'">견적목록</button>
		</div>
	</body>
</html>