<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	    <link rel="stylesheet" href="/static/css/style.css" />
	    <link rel="stylesheet" href="/static/css/footer.css"/>
	</head>	
<body>
	<footer class="footer">
		 <p class="footer__container">
	        <span class="footer__info">
	        회사명 : (주)청남방 &nbsp;| &nbsp;대표자 : 하원식
	        &nbsp;| &nbsp;대표전화 : 010-4085-7393 &nbsp;|
	        &nbsp;주소 : 부산광역시 남구 분포로 113 &nbsp;|
	        &nbsp;이메일 : chungclean365@naver.com</span>
	     </p>
	     <p class="footer__container">
	         <span class="footer__info">
	         사업자등록번호 : 826-05-01842<br />
	         Copyright © 2021.청남방 All right reserved.</span><br /><br />
	         <span class="footer__info">Design by </span>
	         <a class="footer__link" href="#" rel="moonmoallae" target="_blank">
	         <span class="footer__info">MollaeMoon</span>
	         </a>
	     </p>
     </footer>
</body>
</html>