<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    <link rel="stylesheet" href="/static/css/style.css" />
	    <link rel="stylesheet" href="/static/css/review/reviewDetail.css"/>
	    <script src="https://kit.fontawesome.com/0f941af2a1.js" crossorigin="anonymous"></script>
	    <script src="/static/js/review/review.js" defer></script>
	    <title>Document</title>
	</head>
	<body>
		<div class="reviewDetail__container">	
			<th:block th:replace="/page/fragment/header"></th:block>
			<div class="reviewDetail__line"></div>
			<section class="section1">
				<div class="sec1__container">
					<h1 th:text=${review.title}>제목</h1>
					<div class=detail__info>
						<div class="detail__date">						
							<i class="fa-solid fa-calendar-days"></i>
							<span th:text=${review.create_date}>2023-06-26</span><br>
						</div>
						<div class='detail__writer'>
							<i class="fa-solid fa-user"></i>	
							<span>Admin</span>
						</div>
					</div>
					<div class="detail__content" th:text=${review.content}>
						
					</div>
				</div>
			</section>
			<th:block th:replace="/page/fragment/footer"></th:block>
		</div>
	</body>
</html>