<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    <link rel="stylesheet" href="/static/css/style.css" />
	    <link rel="stylesheet" href="/static/css/review/review.css"/>
	    <script src="/static/js/review/review.js" defer></script>
	    <title>Document</title>
	</head>
	<body>
		<div class="review__container">
			<th:block th:replace="/page/fragment/header"></th:block>
			<div class="review__line"></div>
			<div class=review__header>
				<h1>작업 후기</h1>
				<h2>청남방의 깔끔 정직한 작업 후기들입니다.</h2>			
			</div>
			<section class="section1">
				<div class=sec1__container>
					<div class=review__lists >
						<div class="review__list" th:each="reviews : ${reviews}">
							<img src="/static/img/logo.png"/>
							<p class="review__code" th:text=${reviews.code}></p>
							<p th:text=${reviews.title}>부산 바닥청소, 부산 데코타일 청소</p>
							<span th:text="${#temporals.format(reviews.create_date, 'yyyy-MM-dd')}">2023-06-15</span>
						</div>
					</div>
				</div>
			</section>
			<th:block th:replace="/page/fragment/footer"></th:block>
		</div>
	</body>
</html>