<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    <link rel="stylesheet" href="/static/css/style.css"/>
	    <link rel="stylesheet" href="/static/css/item/item.css"/>
	    <script src="/static/js/item/item.js" defer></script>
	    <title>Document</title>
	</head>
	<body>
		<div class="item__container">
			<th:block th:replace="/page/fragment/header"></th:block>
			<div class="item__line"></div>
			<h1>상품목록</h1>
			<section class="item__section" >
				<ul class="item__lists" >
					<li class="item__list" th:each="item : ${itemLists}">
						<img alt="" th:src="@{/image/item/?filename=} + ${item.file_name}">
						<ul class="item__info">
							<li class="item__code" th:value=${item.code}>
							<li class="item__name" th:text=${item.item_name}>화장실 클리너</li>
							<li class="item__price" th:text=${item.price+"원"}>13,000원</li>
						</ul>
					</li>
				</ul>
			</section>
			<th:block th:replace="/page/fragment/footer"></th:block>
		</div>
	</body>
</html>