<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    
	    <title>Document</title>
	</head>
	<body>
		<h1>상품목록</h1>
		<div>
			<ul th:each="item : ${itemLists}">
				<li th:text="${item.code}"></li>
				<li th:text="${item.item_name}"></li>
				<li th:text="${item.price}"></li>
				<li th:text="${item.stockQuantity}"></li>
			</ul>
		</div>
	</body>
</html>