<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/member/signin.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/index.css" />
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-latest.min.js"
        ></script>
        <script src="/static/js/member/findPassword.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <div class="container">
        <th:block th:replace="/page/fragment/header"></th:block>
            <div class=login__line></div>
            <div class="login__header">
                <h1>비밀번호 찾기</h1>
                <p>비밀번호 찾기 페이지입니다.</p>
            </div>
            <div class="login__info">
               <form method="post" action="/signin/findId">
                 <input
               		id="username"
               		name="userNameData"
               		type="text"
               		placeholder="이름을 입력해주세요"
                 />
                 <input
               		id="userId"
               		name="userIdData"
               		type="text"
               		placeholder="아이디를 입력해주세요"
                 />
                 <input id="email" name="email" type="text" placeholder="이메일을 입력해주세요"/>
                 
                 <button class="findPassword__button" type="submit">본인인증</button>
                 
                 <label>인증번호</label>
                 <input id="certification_nubmer" type="text" placeholder="인증번호를 입력해주세요">
               </form>
            <div class="findPassword__container"></div>
            </div>
            
            <th:block th:replace="/page/fragment/footer"></th:block>
        </div>
    </body>
</html>
