<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    <script src="/static/js/member/signin.js" defer></script>
	    
	    <title>Document</title>
	</head>
	<body>
		<form method="post">
			<label for="userId">닉네임</label>
			<input id="userId" name="userId" type="text" placeholder="닉네임을 입력해주세요"><br>
			<label for="password">비밀번호</label>
			<input id="password" name="password" type="password" placeholder="패스워드를 입력해주세요"><br>
		</form>
		<button class="button">로그인</button>
		
		
	</body>
</html>