<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    <script src="/static/js/estimate/admin_estimateList.js" defer></script>
	    <link rel="stylesheet" href="/static/css/style.css">
	    <link rel="stylesheet" href="/static/css/estimate/estimateList.css"/>
	    <title>Document</title>
	</head>
	<body>
		<div class="estimateList__container">
			<h1>견적 목록</h1>
			
			<table class="estimateList">
		    	<thead>
		    		<tr>
		    			<th>code</th>
		    			<th>이름</th>
		    			<th>연락처</th>
		    			<th>청소유형</th>
		    			<th>장소</th>
		    			<th>평형</th>
		    			<th>내용</th>
		    			<th>작성일</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr class="estimate__list" th:each="estimate : ${estimateList}">
		    			<td class="estimate__code" th:text=${estimate.code}>test</td>
		    			<td th:text=${estimate.name}>test</td>
		    			<td th:text=${estimate.phoneNumber}>test</td>
		    			<td th:text=${estimate.category}>test</td>
		    			<td th:text=${estimate.location}>test</td>
		    			<td th:text=${estimate.size}>test</td>
		    			<td th:text=${estimate.content}>test</td>
		    			<td th:text=${estimate.create_date}>test</td>
		    		</tr>
		    	</tbody>
    		</table>
    		<button class="adminHome__btn" onclick="location.href='/admin'">Admin Page</button>
		</div>
	</body>
</html>