@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
	/* Color */
	--color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #dbdbdb;
    --color-blue: #73aace;
    --color-light-blue: #47b5ff;
    --color-dark-blue: #2471c8;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-black: #000000;
}

body {
	width: 100vw;
	height: 100vh;
	
	background-color: var(--color-black);
}


.admin__container {
	width: 100%;
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.admin__container > h1 {
	color: white;
}

.admin__button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	width: 450px;
}

.admin__button > button {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	color: var(--color-white);
	font-family: 'Noto Sans KR', sans-serif;
	background-color: var(--color-dark-blue);
	border-radius: 20px;
	border: none;
	margin-bottom: 10px;
}