<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/index.css" />
        <script src="/static/js/main.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="logo">
                    <img src="/static/img/logo2.JPG" alt="logo" />
                </div>
                <ul class="menu">
                    <li class="menu__item">청남방 소개</li>
                    <li class="menu__item">청소용품</li>
                    <li class="menu__item">견적문의</li>
                    <li class="menu__item">작업후기</li>
                </ul>
                <!-- <ul class="login__menu">
                    <li class="login">로그인</li>
                    <li class="signup">회원가입</li>
                    <li>고객센터</li>
                </ul> -->
            </header>
            <section class="section">
                <div class="section1">
                    <!-- image slider start -->
                    <div class="slider">
                        <!-- radio buttons start -->
                        <div class="slides">
                            <input type="radio" name="radio-btn" id="radio1" />
                            <input type="radio" name="radio-btn" id="radio2" />
                            <input type="radio" name="radio-btn" id="radio3" />
                            <input type="radio" name="radio-btn" id="radio4" />
                            <input type="radio" name="radio-btn" id="radio5" />

                            <!-- slide images start -->
                            <div class="slide first">
                                <img src="/static/img/1.jpg" alt="" />
                            </div>
                            <div class="slide">
                                <img src="/static/img/2.jpg" alt="" />
                            </div>
                            <div class="slide">
                                <img src="/static/img/3.jpg" alt="" />
                            </div>
                            <div class="slide">
                                <img src="/static/img/4.jpg" alt="" />
                            </div>
                            <div class="slide">
                                <img src="/static/img/5.jpg" alt="" />
                            </div>

                            <!-- automatic navigation start -->
                            <div class="navigation-auto">
                                <div class="auto-btn1"></div>
                                <div class="auto-btn2"></div>
                                <div class="auto-btn3"></div>
                                <div class="auto-btn4"></div>
                                <div class="auto-btn5"></div>
                            </div>
                        </div>
                        <!-- manual naviation start -->
                        <div class="navigation-manual">
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                            <label for="radio3" class="manual-btn"></label>
                            <label for="radio4" class="manual-btn"></label>
                            <label for="radio5" class="manual-btn"></label>
                        </div>
                    </div>
                </div>
                <div class="section2">2</div>
                <div class="section3">3</div>
                <div class="section4">4</div>
            </section>

            <footer class="footer">footer</footer>
            <!-- <div>It's test</div> -->
            <!-- <button onclick="location.href='/signup'">회원가입</button> -->
            <!-- <button onclick="location.href='/signin'">로그인</button> -->
        </div>
    </body>
</html>
