<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    
	    <title>Document</title>
	</head>
	<body>
		<h1>견적문의</h1>
		<div>
			<ul>
				<li>견적1</li>
				<li>견적2</li>
				<li>견적3</li>
			</ul>
		</div>
		<button onclick="location.href='/estimates/save'">글쓰기</button>
	</body>
</html>