<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	    
	    <title>Document</title>
	</head>
	<body>
		<h1>작업후기</h1>
		<div>
			<ul th:each="review : ${reviewLists}">
			<form enctype="multipart/form-data">
				<li class="review__code" th:text="${review.code}" th:value="${review.code}"></li>
				<label>작업제목</label>
				<input class="review__title" type="text" th:value="${review.title}" /><br>
				<label>작업 카테고리</label>
				<input class="review__price" type="text" th:value="${review.category}"/><br>
				<label>작업 후기</label>
				<textarea class="review__content" th:text="${review.content}" th:value="${review.content}" rows="40" cols="40"></textarea>
				<p class="create__date" th:value="${review.create_date}"></p>
				<p class="update__date" th:value="${review.update_date}"></p>
			</form>
			<button class="update__btn">작업후기수정</button>
			<button class="delete__btn" onclick>작업후기삭제</button>
			</ul>
		</div>
		<button onclick="location.href='/admin/review/save'">후기등록</button>
	</body>
</html>