@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
	/* Color */
	--color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #dbdbdb;
    --color-blue: #73aace;
    --color-light-blue: #47b5ff;
    --color-dark-blue: #2471c8;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-black: #000000;
}

body {
	width: 100vw;
	height: 100hw;
}

.itemList__container {
	position: relative;
	
	width: 100%;
	height: 800px;
	background-color: var(color-light-white);
	
	display: flex;
	align-items: center;
	flex-direction: column;
}

.itemList {
	border: 1px #a39485 solid;
	font-size: 0.9em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	width: 100%;
	max-width: 1300px;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
}

thead {
	font-weight: bold;
	color: #fff;
	background-color: var(--color-dark-blue);
}

th {
	text-align: center;
}

td, th {
	padding: 1em 0.5em;
	vertical-align: middle
}

td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #fff;
	text-align: center;
}

tbody > tr {
	cursor: pointer;
}

.adminHome__btn {
	position: absolute;
	top: 5%;
	right: 8%;
	
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	color: var(--color-white);
	font-weight: 600;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: var(--color-black);
	border-radius: 5px;
	border: none;
	cursor: pointer;
	
}

.itemSave__btn {
	position: relative;
	left: 590px;
	
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	color: var(--color-white);
	font-weight: 600;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: var(--color-dark-blue);
	border-radius: 5px;
	border: none;
	cursor: pointer;
	
	margin: 15px;
}
